/* Override main css settings */

.wrapper {
    text-align: left;
}

.break {
    margin: 0px;
}

/* Creaters section */

.creaters {
    background: #3B4259;
    display: flex;
    flex-flow: row wrap;
    padding:20px;
}

.creator-wrapper {
    display: flex;
    align-items: center;
    align-content: flex-end;
}

.creaters>.creator-wrapper {
    align-self: center;
    margin-top: 50px;
}

.creaters>.creator-wrapper>img {
    width: 150px;
    border-radius: 75px;
    margin-right: 50px;
}

/* about */

.about {
    padding: 20px;
    background: #e4ebf2;
}

/* features */

.features {

    display: flex;
    flex-flow: column;
    padding: 20px;

}

.features>* {
    margin: 5px;
    padding: 0px;
}

/* pitch */

.pitch {
    color: #f8fafc;
    margin: 20px;
}