/* sight defaults */

@import url('http://fonts.cdnfonts.com/css/bahnschrift');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 19.5px;
    text-decoration: none;
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Bahnschrift', sans-serif;
    line-height: 45px;
    font-size: 33px;
    padding: 5px;
}

.dark-font {
    color: rgb(87, 89, 98);
}

.dark-font-child>* {
    color: rgb(87, 89, 98);
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgb(87, 89, 98);
    font-size: 20px;
    height: 60px;
}

input[type=submit] {
    background-color: #357EFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    height: 60px;
}

/* main wrapper */

.wrapper {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.wrapper>* {
    padding: 50px;
    margin: 0px;
    border-radius: 0px;
}

/* header */

.header {
    text-align: center;
    background: #357EFF;
    color: white;
    display: flex;
    max-height: 70px;
    min-height: 60px;
    padding: 0px;
}

.header>* {
    align-items: center;
}

.logo {
    box-sizing: border-box;
    float: none;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 55px;
    width: 140px;
    margin-top: 2px;
}

.header-right>* {
    margin: 5px;
    width: max-content;
}

.header-right {
    display: flex;
    flex-flow: row-reverse;
    margin: 5px;
    margin-left: auto;
    margin-right: 8px;
    text-align: right;
}

/* hero */

.hero {
    background: linear-gradient( #3B4259 50%, #e4ebf2 50%);
}

.hero-header {
    padding-top: min(25px, 5%);
    padding-bottom: min(75px, 10%);
}

.hero-img {
    max-width: 1226px;
}

/* signup */

.signup-p {
    padding: 10px;
    padding-bottom: 30px;
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.form>* {
    margin: 15px;
}

.email-input {
    max-width: 500px;
}

.signup-notice {
    font-size: 13px;
    color: gray;
}

/* about */

.about {
    background: #f8fafc;
    padding-left: 0px;
    padding-right: 0px;
}

.about-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-boxes>* {
    padding: 10px;
    height: 290px;
    width: 290px;
    margin: 40px;
    text-align: left;
}

.aside1 {
    background: #726bcd;
    order: 1
}

.aside2 {
    background: #f8aa44;
    order: 2
}

.aside3 {
    background: #52cf69;
    order: 3
}

/* footer */

.footer {
    display: flex;
    flex-flow: row wrap;
    background: #3B4259;
    padding: 40px;
    min-height: 275px;
}

.foot-col1 {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.links {
    display: flex;
    flex-flow: row;
}

.links>* {
    text-align: left;
    padding-top: 15px;
    max-width: 230px;
}

.foot-sub1 {
    flex: 1;
}

.foot-sub2 {
    flex: 2;
}

.foot-sub3 {
    flex: 3;
}

footer>*>* {}

.foot-social-img {
    display: flex;
    flex-flow: row;
    margin-top: auto;
}

.foot-social-img>* {
    padding: 5px;
    height: 40px;
    width: 40px;
    padding: 12px;
}

.foot-col2 {
    flex: 2;
    display: flex;
    flex-flow: column;
    max-width: 365px;
}

.foot-col2>* {
    text-align: left;
}

.footer-logo {
    max-height: 55px;
    flex: 1;
}

.footer-p {
    flex: 2;
}

.copyright {
    flex: 3;
    margin-top: auto;
    min-height: 15px;
}

/* @main all {width < 800} */